<!DOCTYPE html>
<html>
<head>
<title>Memex GeoParser</title>

<script src="static/js/geo.ext.min.js" charset="UTF-8" type="text/javascript"></script>
<script src="static/js/geo.js" type="text/javascript"></script>
<script src="static/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/dropzone.js" type="text/javascript"></script>
<script src="static/js/app.min.js" type="text/javascript"></script>
<script src="static/js/libs.min.js" type="text/javascript"></script>

<!--App Specific Custom JS -->
<script src="static/js/app.js" type="text/javascript"></script>


<link href="static/css/dropzone.css" rel="stylesheet" />
<link href="static/css/bootstrap.css" rel="stylesheet" />
<link href="static/css/bootstrap-glyphicons.css" rel="stylesheet" />

<!--App Specific CSS -->
<link href="static/css/style.css" rel="stylesheet" />
<link href="static/css/app.min.css" rel="stylesheet" />

</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-header"></div>
		<a class="navbar-brand" href="#">Memex GeoParser</a>
	</nav>
	<div id="map">
		<div class="row">
			<div
				class="top-left-input-box input-box-bg col-md-4 bottom-buffer top-buffer mar-def">
				<!-- Nav icons start -->
				<div class="row">
					<div class="col-md-7"></div>
					<div class="col-md-5 bottom-buffer">
						<div class="btn-group btn-group-lg" id="navButtons" data-toggle="buttons">
							<label class="btn btn-default">
								<input type="radio" name="options" id="navAddIndex" autocomplete="off">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</label>
							<label class="btn btn-default active" >
								<input type="radio" name="options" id="navUploadFiles" autocomplete="off">
								<span class="glyphicon glyphicon-cloud-upload"
									aria-hidden="true"></span>
							</label>
							<label class="btn btn-default" >
								<input type="radio" name="options" id="navSearchIndex" autocomplete="off">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</label>
						</div>
					</div>
				</div>
				<!-- Nav icons end -->
				<!-- User Input Box Start-->
				<div >
				<!-- File Upload box Start-->
				<div id="fileUploadBox">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8 no-left-padding ">
							<h4>Upload Files</h4>
							<hr />
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="clear"></div>

					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4 bottom-buffer">
							<span class="glyphicon glyphicon-cloud-upload extra-large"
								aria-hidden="true"></span><br />
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="clear"></div>

					<!-- DROPZONE START -->
					<div id="actions" class="row">

						<div class="col-lg-8">
							<!-- The fileinput-button span is used to style the file input field as button -->
							<span class="btn btn-success fileinput-button dz-clickable">
								<i class="glyphicon glyphicon-plus"></i> <span>Add
									files...</span>
							</span>
							<!-- <button type="submit" class="btn btn-primary start">//Start is commented as Add should start uploading
							<i class="glyphicon glyphicon-upload"></i> <span>Start
								upload</span>
						</button> -->
							<button type="reset" class="btn btn-warning cancel">
								<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel
									upload</span>
							</button>
						</div>

						<div class="col-lg-4">
							<!-- The global file processing state -->
							<span class="fileupload-process">
								<div id="total-progress"
									class="progress progress-striped active" role="progressbar"
									aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
									<div class="progress-bar progress-bar-success"
										style="width: 0%;" data-dz-uploadprogress=""></div>
								</div>
							</span>
						</div>

					</div>
					<div class="clear"></div>

					<div class="row">
						<div class="col-md-12 bottom-buffer no-right-padding">
							<div class="table table-striped" class="files" id="previews">

								<div id="template" class="file-row">
									<div class="clear"></div>
									<div class="row">
										<!-- This is used as the file preview template -->
										<!-- <div> we don't need thumb nail view
									<span class="preview"><img data-dz-thumbnail /></span>
									</div> -->

										<div class="col-md-4 no-right-padding"">
											<span class="name" data-dz-name></span> <br /> <span
												class="size" data-dz-size></span>
										</div>
										<div class="col-md-3 no-right-padding"">
											<strong class="error text-danger" data-dz-errormessage></strong>
											<div class="progress progress-striped active"
												role="progressbar" aria-valuemin="0" aria-valuemax="100"
												aria-valuenow="0">
												<div class="progress-bar progress-bar-success"
													style="width: 0%;" data-dz-uploadprogress></div>
											</div>
										</div>
										<div class="col-md-5 no-right-padding"">
											<button data-dz-remove class="btn btn-warning cancel">
												<i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
											</button>
											<button data-dz-remove class="btn btn-danger delete">
												<i class="glyphicon glyphicon-trash"></i> <span>Delete</span>
											</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- DROPZONE END -->

					<div class="clear"></div>

				</div>
				<!-- File Upload box End-->
				<!-- Add Index Box start-->
				<div id="addIndexBox" class="hide">Add Index</div>
				<!-- Add Index Box end-->
				<!-- Search Index Box start-->
				<div id="searchIndexBox" class="hide">Search Index</div>
				<!-- Search Index Box end-->
				</div>
				<!-- User Input Box End-->
				<ul id="uploadedFiles"></ul>

			</div>
		</div>
	</div>

<script>
  $.ajax({
    'url' : 'http://localhost:8081/api/v1/user/authentication',
    'type' : 'GET',
	headers: {
	  "Girder-Authorization": "Basic bWJvdXN0YW5pOjEyMzQ1Ng=="
	}
  });
</script>
</body>

</html>